{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="page__content_main">
	<div class="header__content p-3 bg-light">
		<h3 class="ff__nn m-0">Contact</h3>
	</div>
	<div class="contact__wrapper p-3">
		<table class="table border">
		  <thead class="thead__small">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">NAMA</th>
		      <th scope="col">Phone</th>
		      <th scope="col">Email</th>
		      <th scope="col">Subject</th>
		      <th scope="col">Action</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr>
		  	  <th scope="row">1</th>
		  	  <td>Mark Humberg</td>
		  	  <td>+62 887 89671</td>
		  	  <td>mark.jos@mail.com</td>
		  	  <td>Minta contactnya bos anda</td>
		  	  <td>aaaaaa</td>
		  	</tr>
		    <tr>
		      <th scope="row">2</th>
		      <td>Mark Humberg</td>
		      <td>+62 887 89671</td>
		      <td>mark.jos@mail.com</td>
		      <td>Minta contactnya bos anda</td>
		      <td>aaaaaa</td>
		    </tr>
		    <tr>
		      <th scope="row">3</th>
		      <td>Mark Humberg</td>
		      <td>+62 887 89671</td>
		      <td>mark.jos@mail.com</td>
		      <td>Minta contactnya bos anda</td>
		      <td>aaaaaa</td>
		    </tr>
		    <tr>
		      <th scope="row">4</th>
		      <td>Mark Humberg</td>
		      <td>+62 887 89671</td>
		      <td>mark.jos@mail.com</td>
		      <td>Minta contactnya bos anda</td>
		      <td>aaaaaa</td>
		    </tr>
		    <tr>
		      <th scope="row">5</th>
		      <td>Mark Humberg</td>
		      <td>+62 887 89671</td>
		      <td>mark.jos@mail.com</td>
		      <td>Minta contactnya bos anda</td>
		      <td>aaaaaa</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>
{% endblock %}
