<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
        {% endblock %}
		

    </head>
    <body>
    	<section class="dashboard">
    		<!-- Start main dashboard -->
    		<div class="container-fluid dashboard__content_wrapper">
    			<div class="dashboard__content_sidebar">
    				<div class="dashboard__content_header_menu">
    					<ul class="list-group list-group_menu">
    						<li class="list-group-item py-4">
    							<span>
    								<svg width="25px" height="21px" viewBox="0 0 25 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    								    <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
    								    <title>Group 8</title>
    								    <desc>Created with Sketch.</desc>
    								    <defs></defs>
    								    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    								        <g id="menu-bar" transform="translate(0.000000, 1.000000)" stroke-width="3" stroke="#FFFFFF">
    								            <g id="Group-8">
    								                <path d="M24.5,0.5 L0.5,0.5" id="Stroke-30"></path>
    								                <path d="M24.5,9.5 L0.5,9.5" id="Stroke-32"></path>
    								                <path d="M24.5,18.5 L0.5,18.5" id="Stroke-34"></path>
    								            </g>
    								        </g>
    								    </g>
    								</svg>
    							</span>
    						</li>
    						{# <li class="list-group-item">a</li> #}
    					</ul>
    					<ul class="list-group list-group__userarea">
    						<li class="list-group-item list__group_item_notification">
    							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="26px" height="26px">
    							<g>
    								<g>
    									<path d="M467.819,431.851l-36.651-61.056c-16.896-28.181-25.835-60.437-25.835-93.312V224    c0-82.325-67.008-149.333-149.333-149.333S106.667,141.675,106.667,224v53.483c0,32.875-8.939,65.131-25.835,93.312    l-36.651,61.056c-1.984,3.285-2.027,7.403-0.149,10.731c1.899,3.349,5.461,5.419,9.301,5.419h405.333    c3.84,0,7.403-2.069,9.301-5.419C469.845,439.253,469.803,435.136,467.819,431.851z M72.171,426.667l26.944-44.907    C118.016,350.272,128,314.219,128,277.483V224c0-70.592,57.408-128,128-128s128,57.408,128,128v53.483    c0,36.736,9.984,72.789,28.864,104.277l26.965,44.907H72.171z" fill="#FFFFFF"/>
    								</g>
    							</g>
    							<g>
    								<g>
    									<path d="M256,0c-23.531,0-42.667,19.136-42.667,42.667v42.667C213.333,91.221,218.112,96,224,96s10.667-4.779,10.667-10.667    V42.667c0-11.776,9.557-21.333,21.333-21.333s21.333,9.557,21.333,21.333v42.667C277.333,91.221,282.112,96,288,96    s10.667-4.779,10.667-10.667V42.667C298.667,19.136,279.531,0,256,0z" fill="#FFFFFF"/>
    								</g>
    							</g>
    							<g>
    								<g>
    									<path d="M302.165,431.936c-3.008-5.077-9.515-6.741-14.613-3.819c-5.099,2.987-6.805,9.536-3.819,14.613    c2.773,4.715,4.288,10.368,4.288,15.936c0,17.643-14.357,32-32,32c-17.643,0-32-14.357-32-32c0-5.568,1.515-11.221,4.288-15.936    c2.965-5.099,1.259-11.627-3.819-14.613c-5.141-2.923-11.627-1.259-14.613,3.819c-4.715,8.064-7.211,17.301-7.211,26.731    C202.667,488.085,226.581,512,256,512s53.333-23.915,53.376-53.333C309.376,449.237,306.88,440,302.165,431.936z" fill="#FFFFFF"/>
    								</g>
    							</g>
    							</svg>
    						</li>
    						<li class="list-group-item list__group_item_profile">
    							<span></span>
    						</li>
    					</ul>
    				</div>
    				<div class="dahsboard__content_main_menu">
	    				<ul class="list-group">
	    					<li class="list-group-item py-4"><a href="/">
	    						DOESPRESS
	    					</a></li>
	    					<li class="list-group-item list__group_item_menu_list"><a href="/article">
	    						<span>
		    						<svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation"><g fill="currentColor" fill-rule="evenodd"><path d="M5 19h14V5H5v14zM3 4.995C3 3.893 3.893 3 4.995 3h14.01C20.107 3 21 3.893 21 4.995v14.01A1.995 1.995 0 0 1 19.005 21H4.995A1.995 1.995 0 0 1 3 19.005V4.995z" fill-rule="nonzero"></path><path d="M9.17 17H4v1.5A1.5 1.5 0 0 0 5.505 20h12.99c.838 0 1.505-.672 1.505-1.5V17h-5.17a3.001 3.001 0 0 1-5.66 0zM7 12h10v2H7zm0-4h10v2H7z"></path></g></svg>
	    						</span>
	    					Article</a></li>
							<li class="list-group-item list__group_item_menu_list"><a href="/login">
	    						<span>
		    						<svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation"><g fill="currentColor" fill-rule="evenodd"><path d="M5 19h14V5H5v14zM3 4.995C3 3.893 3.893 3 4.995 3h14.01C20.107 3 21 3.893 21 4.995v14.01A1.995 1.995 0 0 1 19.005 21H4.995A1.995 1.995 0 0 1 3 19.005V4.995z" fill-rule="nonzero"></path><path d="M9.17 17H4v1.5A1.5 1.5 0 0 0 5.505 20h12.99c.838 0 1.505-.672 1.505-1.5V17h-5.17a3.001 3.001 0 0 1-5.66 0zM7 12h10v2H7zm0-4h10v2H7z"></path></g></svg>
	    						</span>
	    					Login</a></li>
	    					<!-- <li class="list-group-item list__group_item_menu_list"><a href="/merchandise">
	    						<span>
	    							    						<svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation"><g fill="currentColor" fill-rule="evenodd"><path d="M5 19h14V5H5v14zM3 4.995C3 3.893 3.893 3 4.995 3h14.01C20.107 3 21 3.893 21 4.995v14.01A1.995 1.995 0 0 1 19.005 21H4.995A1.995 1.995 0 0 1 3 19.005V4.995z" fill-rule="nonzero"></path><path d="M9.17 17H4v1.5A1.5 1.5 0 0 0 5.505 20h12.99c.838 0 1.505-.672 1.505-1.5V17h-5.17a3.001 3.001 0 0 1-5.66 0zM7 12h10v2H7zm0-4h10v2H7z"></path></g></svg>
	    						</span>
	    					Merchandise</a></li>
	    					<li class="list-group-item list__group_item_menu_list"><a href="/contact">
	    						<span>
	    														<svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation"><g fill="currentColor" fill-rule="evenodd"><path d="M5 5v14h14V5H5zm0-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z" fill-rule="nonzero"></path><path d="M9.232 8.306l-2.93 2.954a1.056 1.056 0 0 0 0 1.478l2.93 2.956a1.034 1.034 0 0 0 1.465 0 1.05 1.05 0 0 0 0-1.478L8.5 11.999l2.197-2.217a1.048 1.048 0 0 0 0-1.476A1.024 1.024 0 0 0 9.965 8c-.267 0-.53.101-.733.306zm4.072-.001a1.05 1.05 0 0 0 0 1.478L15.5 12l-2.196 2.217a1.05 1.05 0 0 0 0 1.477c.404.408 1.06.408 1.464 0l2.93-2.955a1.054 1.054 0 0 0 0-1.478l-2.93-2.956a1.031 1.031 0 0 0-1.464 0z"></path></g></svg>
	    						</span>
	    					Contact</a></li> -->
	    				</ul>
    				</div>
    			</div>
    			<div class="dashboard__content_main">
    				<div class="page__content">
				        {% block body %}{% endblock %}
    				</div>
    			</div>
    		</div>
    		<!-- End main dashboard -->
    	</section>
        {% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
