

    		<!-- //Style header 
                        .dashboard__header {
                            display: flex;
                            width: 100%;
                            padding: 0;
                            // background-color: $c_dark;
                            .dashboard__header_trigger_menu {
                                background-color: #0747A6;
                                text-align: right;
                                display: flex;
                                flex: 0 0 250px;
                                width: 250px;
                                justify-content: space-between;
                                align-items: center;
                                .dashboard__brand {
                                    color: #fff;
                                    font-size: 1.5rem;
                                    text-transform: uppercase;
                                    padding-left: 0.9rem;
                                }
                                .dashboard__logo {
                                    padding: 1rem 0.9rem;
                                }
                            }
                            .dashboard__header_navigation {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                .dashboard__navigation {
                                    margin-right: 0.9rem;
                                    a.nav-link {
                                        color: #fff;
                                        padding: .5rem .3em;
                                    }
                                    .dropdown-item {
                                        padding: 0.25em 1em;
                                        font-size: 0.9rem;
                                    }
                                    .dropdown-toggle::after {
                                        margin-left: 0.8em;
                                        border-top: .4em solid;
                                        border-right: .4em solid transparent;
                                        border-left: .4em solid transparent;
                                    }
                                }
                            }
                        } -->


            <!-- Start dashboard header -->
    		<!-- <div class="container-fluid dashboard__header">
    			<div class="dashboard__header_trigger_menu">
    				<div class="dashboard__brand">
    					<a href="/">doespress</a>
    				</div>
    				<div class="dashboard__logo">
    			    				<svg width="25px" height="21px" viewBox="0 0 25 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    			    				    Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch
    			    				    <title>Group 8</title>
    			    				    <desc>Created with Sketch.</desc>
    			    				    <defs></defs>
    			    				    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    			    				        <g id="menu-bar" transform="translate(0.000000, 1.000000)" stroke-width="3" stroke="#FFFFFF">
    			    				            <g id="Group-8">
    			    				                <path d="M24.5,0.5 L0.5,0.5" id="Stroke-30"></path>
    			    				                <path d="M24.5,9.5 L0.5,9.5" id="Stroke-32"></path>
    			    				                <path d="M24.5,18.5 L0.5,18.5" id="Stroke-34"></path>
    			    				            </g>
    			    				        </g>
    			    				    </g>
    			    				</svg>
    				</div>
    			</div>
    			<div class="dashboard__header_brand">
    				<div class="dashboard__brand">
    					doespress
    				</div>
    			</div>
    			<div class="dashboard__header_navigation">
    				<div class="dashboard__navigation">
    					<ul class="nav justify-content-end">
    						<li class="nav-item dropdown">
    						    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hello, User</a>
    						    <div class="dropdown-menu dropdown-menu-right">
    						      <a class="dropdown-item" href="#">Action</a>
    						      <a class="dropdown-item" href="#">Another action</a>
    						      <a class="dropdown-item" href="#">Something else here</a>
    						      <div class="dropdown-divider"></div>
    						      <a class="dropdown-item" href="#">Separated link</a>
    						    </div>
    						  </li>
    					</ul>
    				</div>
    			</div>
    		</div> -->
			<!-- End dashboard header	 -->